<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<% if @user.ratings.empty? %>
  <p>has not rate any beer</p>
<% else %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %>
  </p> 
  <p>Favorite beer: <%= @user.favorite_beer.name %></p>
  <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
  <p>Preferred style: <%= @user.favorite_style %></p>
<% end %>

<p>
  <% if @user.beer_clubs.any? %>
    member of 
    <% @user.beer_clubs.each do |club| %>
      <li> <%= link_to club.name, club %> </li>
    <% end %>
  <% end %>
</p>

<h3>ratings</h3>

<ul>
 <% @user.ratings.each do |rating| %>
   <li> <%= rating %> 
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>   
    </li>  
 <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <br>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>