<p id="notice"><%= notice %></p>

<h2>
  <%= @place.name %>
</h2>

<h3><%= @place.status %></h3>
<p><%= @place.street %></p>
<p><%= @place.zip %></p>
<p><%= @place.city %></p>  
<p><%= @place.country %></p> 
<p><%= "Overall Score: " +   @place.overall %></p>        


